---
layout: archive
---

<!-- 여기에 프로필 섹션을 추가합니다 -->
<div class="page__profile">
  <h1>About Me</h1>
  <hr>
  <h2>Education</h2>
<!--   <p>이곳에 자신에 대한 설명을 쓰세요. 교육, 연구 관심사, 수상 경력 등을 포함할 수 있습니다.</p>
  <ul> -->
    <li> Department of Matheducation, BS at PNU </li>
    <li> Department of AI, MS at CAU </li>
    <!-- 추가적인 정보를 여기에 포함시킬 수 있습니다 -->
  </ul>

  <h2>Career</h2>
    <li> Silentist Inc, Quant/AI Research Internship </li>
    <li> Silentist Inc, Quant/AI Researcher </li>
    <li> NKIA Inc, AI Researcher </li>
</div>

<!-- {{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
 -->
